// COLORS
$color-blue:#3f81f2;
$color-green:#009a74;
$color-yellow:#f6ae4a;
$color-grey-light:#eee;
$color-grey:#999;
$color-grey-dark:#333; 
$color-white:#fff;



//FONT
$defult-font-size:1.6rem;

// GRID
$grid-width:96rem; 
// $gutter-vertical:8rem;
// $gutter-vertical-small:6rem;
// $gutter-horizontal:6rem;