/*
0 - 600PX:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


*/
/*
$breakpoint argue choises:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typhography > general layout + grid > page layout > components

1em = 16px
*/
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 16px; }

.container {
  max-width: 100%;
  padding: 0 0px; }
  @media only screen and (min-width: 37.5em) {
    .container {
      padding: 0 0px; } }

.body {
  max-width: 96rem;
  margin: 0 auto; }

.header {
  height: 35px;
  background: #3f81f2; }
  .header__inner {
    color: #fff;
    max-width: 96rem;
    margin: 0 auto; }
    @media only screen and (min-width: 37.5em) {
      .header__inner {
        padding: 0 0px; } }
  .header strong {
    display: inline-block;
    line-height: 35px;
    font-size: 24px; }
