/*
0 - 600PX:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800] is where our normal styles apply
1800px + : Big desktop


*/
/*
$breakpoint argue choises:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typhography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }

input {
  border: 1px solid #eee; }

body {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
  font-size: 16px; }

.container {
  max-width: 100%;
  padding: 0 0px; }
  @media only screen and (min-width: 37.5em) {
    .container {
      padding: 0 0px; } }

.header {
  height: 35px;
  background: #3f81f2; }
  .header__inner {
    color: #fff;
    padding: 0 20px;
    margin: 0 auto; }
    @media only screen and (min-width: 56.25em) {
      .header__inner {
        padding: 0 0px;
        max-width: 90rem; } }
  .header strong {
    display: inline-block;
    line-height: 35px;
    font-size: 24px; }

.body {
  padding: 0 20px;
  margin: 0 auto; }
  @media only screen and (min-width: 56.25em) {
    .body {
      padding: 0 0px;
      max-width: 90rem; } }
  .body__top, .body__mid {
    margin: 20px 0 0 0;
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 4px; }
  .body__mid {
    display: none; }
  .body__search * {
    display: block; }
  .body__search h1 {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 5px 0; }
  .body__search p {
    font-size: 16px; }
  .body__search input {
    padding: 5px 2px;
    margin: 0px 0 0px;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px; }
  .body__error {
    display: none;
    color: #f00;
    padding: 5px 0 0;
    font-weight: 700; }

.github {
  display: flex;
  flex-flow: row wrap;
  align-content: space-between; }
  .github__left {
    width: calc((100% - 20px) / 4);
    margin: 0 20px 0 0; }
    @media only screen and (max-width: 37.5em) {
      .github__left {
        width: 300px;
        margin: 0 auto; } }
  .github__right {
    width: calc(3 * ((100% - 20px) / 4)); }
    @media only screen and (max-width: 37.5em) {
      .github__right {
        width: calc(100%);
        margin: 20px auto 0 auto; } }
    .github__right__top, .github__right__mid {
      width: 100%;
      display: flex; }
    .github__right__top {
      align-content: flex-start;
      margin: 0 0 10px 0; }
      @media only screen and (max-width: 32.25em) {
        .github__right__top {
          justify-content: space-between;
          flex-flow: row wrap; } }
    .github__right__mid {
      align-content: flex-start;
      flex-direction: column;
      margin: 0 0 10px 0;
      border: 1px solid #eee;
      border-radius: 4px; }
  .github__stat {
    padding: 3px 5px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    margin: 0 5px 0 0; }
    @media only screen and (max-width: 32.25em) {
      .github__stat {
        width: calc(50% - 5px);
        margin: 0 0 5px 0; } }
    .github__stat--publicrepos {
      background-color: #3f81f2; }
    .github__stat--publicgists {
      background-color: #999; }
    .github__stat--followers {
      background-color: #009a74; }
    .github__stat--following {
      background-color: #0a95b9; }
  .github__nfo {
    width: 100%;
    padding: 0 5px;
    font-size: 14px;
    color: #999; }
    .github__nfo:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .github__heading4 {
    margin-top: 20px; }
  .github__repos {
    width: 100%;
    display: none; }
  .github__repo {
    padding: 5px;
    display: flex;
    font-size: 13px;
    border: 1px solid #eee;
    border-radius: 4px; }
    .github__repo:not(:last-child) {
      margin-bottom: 5px; }
    @media only screen and (max-width: 32.25em) {
      .github__repo {
        flex-flow: row wrap;
        justify-content: space-between; } }
    .github__repo a {
      padding: 3px 0px 3px 8px;
      width: 50%;
      color: #3f81f2; }
      @media only screen and (max-width: 32.25em) {
        .github__repo a {
          padding: 3px 0px 3px 0px;
          width: 100%; } }
      .github__repo a:hover {
        color: #000; }
    .github__repo span {
      padding: 3px 5px;
      border-radius: 4px;
      color: #fff;
      margin: 0 5px 0 0; }
      @media only screen and (max-width: 32.25em) {
        .github__repo span {
          width: calc(33.33% - 3px);
          margin: 0 0px 0 0;
          font-size: 11px;
          font-weight: 700; } }
    .github__repo span:nth-child(2) {
      background-color: #3f81f2; }
    .github__repo span:nth-child(3) {
      background-color: #009a74; }
    .github__repo span:nth-child(4) {
      background-color: #f6ae4a; }
  .github__photo img {
    width: 100%;
    display: block;
    border-radius: 4px; }
  .github__profile-button a {
    display: block;
    font-size: 12px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    background-color: #3f81f2;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin: 10px 0 0 0;
    box-sizing: border-box; }
    .github__profile-button a:hover {
      color: #3f81f2;
      background-color: #eee;
      border: 1px solid #3f81f2; }
